@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 100% 100%; /* White */
    --foreground: 240 10% 3.9%; /* Dark Gray */
    --card: 257 88% 97%; /* Light Lavender */
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 336 84% 88%; /* Pink */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 41 98% 65%; /* Yellow */
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 41 98% 65%; /* Yellow */
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 3.9%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 255 100% 100%; /* White */
    --foreground: 240 10% 3.9%; /* Dark Gray */
    --card: 257 88% 97%; /* Light Lavender */
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 336 84% 88%; /* Pink */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 41 98% 65%; /* Yellow */
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 41 98% 65%; /* Yellow */
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 3.9%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
